<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Om os</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<div class="box">
    <a href="http://localhost:8080/">
    <img src="madspild.PNG" class="title-logo">
    </a>
    <a href="http://localhost:8080/" class="btn" style="text-decoration: none;">Start</a>
    <div class="divider"></div>
    <a href="http://localhost:8080/about" class="btn" style="background-color: #666666; color: whitesmoke; text-decoration: none;">Om os</a>
    <div class="divider"></div>
    <a href="http://localhost:8080/contact" class="btn" style="text-decoration: none;">Kontakt</a>
</div>

<div></div>


<div class="box-fade"></div>

<div class="text-box">
    <h1>Om os</h1>
    <p>Lorem ipsum dolor sit amet. Qui assumenda sequi a asperiores quas ut internos placeat eum numquam debitis id possimus minus ex repudiandae minus aut omnis libero. Et velit explicabo sed pariatur maxime ut praesentium cumque facilis molestiae ab quia sunt in repudiandae voluptatem.

        Ut quos explicabo qui dolores vitae sit earum ut voluptatem quos et eius voluptate ut architecto facilis. Qui nulla nobis non omnis ab dolores cumque eos autem praesentium est repudiandae corrupti aut nisi blanditiis. Sit enim odio nam reiciendis fugiat vel exercitationem voluptates et veniam aut obcaecati rerum sed voluptatibus molestiae qui adipisci repudiandae!

        Non molestiae consequatur eum harum esse est veritatis aliquid et impedit maxime in velit commodi 33 consequuntur amet qui maxime nobis. Et sint doloribus in voluptatum nostrum architecto eligendi nam modi possimus ea molestiae fuga sed quia expedita et dolores pariatur.</p>
</div>
<div class="footer-fade"></div>
<div class="footer"></div>

</body>

</html>