<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kontakt</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<div class="box">
    <img src="madspild.PNG" class="title-logo">
    <a href="http://localhost:8080/" class="btn" style="text-decoration: none;">Start</a>
    <div class="divider"></div>
    <a href="http://localhost:8080/about" class="btn" style="text-decoration: none;">Om os</a>
    <div class="divider"></div>
    <a href="http://localhost:8080/contact" class="btn" style="background-color: #666666; color: whitesmoke; text-decoration: none;">Kontakt</a>
</div>

<div></div>


<div class="box-fade"></div>

<div class="text-box">
    <h1>Kontakt information</h1>
    <p>Adresse: x</p>
    <p>Telefonnummer: x</p>
</div>
<div class="footer-fade"></div>
<div class="footer"></div>

</body>

</html>