<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
<div class="box">
    <img src="madspild.PNG" class="title-logo">
    <a href="http://localhost:8080/" class="btn"
       style="background-color: #666666; color: whitesmoke; text-decoration: none;">Home</a>
    <div class="divider"></div>
    <a href="http://localhost:8080/about" class="btn" style="text-decoration: none;">About</a>
    <div class="divider"></div>
    <a href="http://localhost:8080/contact" class="btn" style="text-decoration: none;">Contact</a>

</div>

<img src="madspild1.jpeg" class="center">
<div class="text-box">
    <h1>Information om madspild</h1>
    <p>Madspildet i den danske servicesektor udgør 227.000-ton pr. år. Til sammenligning er det samlede madspild fra
        husholdningerne 261.000-ton pr. år.</p>
    <p>Af detailhandelens madspild står specialforretninger som slagtere, fiskeforretninger og grønthandlere for 12.000
        tons pr. år, mens ikke-specialiserede forretninger som kiosker, købmænd, supermarkeder og varehuse står for
        151.000-ton pr. år.</p>
    <p>Det største madspild i servicesektoren stammer fra detailhandelen, der spilder 163.000 tons pr. år, svarende til
        72 % af servicesektorens madspild.</p>

    <h1> Sådan kan den private husholdning undgå madspild </h1>
    <p>Planlæg dine madindkøb, og køb kun den mad, der er behov​ for.
        Spis lokale produkter, så skal de ikke holde sig længe under transport.
        Bliv bedre til at bruge rester i nye retter, men hold stadig øje med holdbarheden.
        Opbevar maden ved den rigtige temperatur, så du smider mindre mad ud, der er blevet dårlig.
        Køl madrester, der skal gemmes, hurtigt ned, eller frys dem evt. i små pakker.​
    </p>

    <h1> Sådan kan virksomheden undgå madspild </h1>
    <p> Er virksomheden i tvivl om, hvornår den må donere fødevarer til velgørende formål? Hvornår er det nok at sortere
        afvigende varer fra? Og kan virksomheden bruge varerne som ingrediens i produktionen?

        Virksomheden skal altid sikre sig, at fødevarerne er i orden, så de ikke gør forbrugerne syge.
        I mange tilfælde må virksomheden kassere vare​r. Men der er meget, man kan gøre for at undgå madspild. <br> Se
        guiden, der​ fortæller, hvordan virksomheden kan undgå madspild i konkrete situationer, hvor en fødevare
        afviger.</p>
    <h1>Læg en plan og undgå madspild</h1>
    <p>Du kan mindske dit madspild, hvis du bruger lidt ekstra tid på at planlægge dine indkøb og madlavning.
        Planlægning med indkøbsseddel har mange fordele. Hvis det foregår hjemme hos dig selv, kan du tjekke, hvad du
        allerede har i køleskab, fryser og skuffer. Samtidig kan hele familien i ro og mag blive involveret og bidrage
        med idéer og ønsker.
        Når du kommer til butikken med en indkøbsseddel, har du haft mulighed for at gennemtænke indkøb og behov, inden
        du køber ind. På den måde er der større sandsynlighed for, at du kan undgå impulskøb. </p>

    <h1>Lav en madplan der passer til din familie</h1>
    <p>En madplan giver mulighed for at handle stort ind et par gange om ugen, hvilket er tidsbesparende og skaber
        frihed i forhold til ikke at skulle tænke over, hvad familien skal spise hver eneste aften. Du kan lave madplan
        for et par dage eller en uge ad gangen, som det nu passer med dit liv og ugentlige gøremål.</p>

    <h1>Tøm køleskabet</h1>
    <p>På internettet kan du finde flere sites med opskrifter, hvor du kan indtaste de varer, du har i køleskabet og få
        opskrifter med netop de ingredienser. Har du fx blomkål, kartofler og creme fraiche, der trænger til at blive
        brugt, skriver du disse ingredienser ind i en søgefunktion. Herefter får du en liste med opskrifter. Det kan
        være en god ide, hvis du har grønsager, der er ved at være slatne eller madvarer tæt på holdbarhedsdatoen.</p>

    <h1>Gennemtænk dit måltid, før du starter i køkkenet</h1>
    <p>Hvis du planlægger madlavningen, inden du går i køkkenet, og samtidig tænker over, hvor meget hver enkelt person
        i husholdningen reelt spiser, så kan du lettere mindske dit madspild.</p>
</div>

<div class="footer"></div>

</body>

</html>