<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" href="index.css">
    </head>

    <body>
    <div class="box">
        <div class="title-box">Title</div>
        <a href="http://localhost:8080/test1" class="btn" style="text-decoration: none;">News</a>
        <div class="divider"></div>
        <a href="https//www.google.com" class="btn" style="text-decoration: none;">About</a>
        <div class="divider"></div>
        <a href="https//www.google.com" class="btn" style="text-decoration: none;">Contact</a>

    </div>

    <div class="box-fade"></div>
    <img src="https://c4.wallpaperflare.com/wallpaper/551/1/180/trees-top-view-forest-wallpaper-preview.jpg" class="center">
    <div class="text-box">
        <h1> Overskrift1 </h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quisque sagittis purus sit amet volutpat consequat mauris nunc congue. Pharetra convallis posuere morbi leo urna. Sit amet aliquam id diam maecenas ultricies mi eget. Quis imperdiet massa tincidunt nunc pulvinar sapien et. Turpis egestas sed tempus urna et. Commodo elit at imperdiet dui accumsan. Felis bibendum ut tristique et egestas quis ipsum. Sed risus ultricies tristique nulla aliquet enim tortor. Platea dictumst quisque sagittis purus sit amet volutpat. Orci a scelerisque purus semper eget duis at. Nullam vehicula ipsum a arcu cursus vitae congue mauris rhoncus. Pharetra magna ac placerat vestibulum lectus mauris ultrices eros. Tempus urna et pharetra pharetra massa massa ultricies mi quis.

            Adipiscing elit ut aliquam purus sit amet luctus venenatis. Vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor posuere. Aenean et tortor at risus viverra adipiscing. Fermentum leo vel orci porta non pulvinar neque laoreet suspendisse. Pharetra et ultrices neque ornare aenean euismod. In eu mi bibendum neque egestas congue quisque egestas. Lectus proin nibh nisl condimentum. Egestas erat imperdiet sed euismod nisi porta lorem. Erat velit scelerisque in dictum non consectetur. Elementum integer enim neque volutpat ac tincidunt. Eu nisl nunc mi ipsum. Justo donec enim diam vulputate ut pharetra. Pulvinar sapien et ligula ullamcorper malesuada. </p>
        <h1> Overskrift2 </h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quisque sagittis purus sit amet volutpat consequat mauris nunc congue. Pharetra convallis posuere morbi leo urna. Sit amet aliquam id diam maecenas ultricies mi eget. Quis imperdiet massa tincidunt nunc pulvinar sapien et. Turpis egestas sed tempus urna et. Commodo elit at imperdiet dui accumsan. Felis bibendum ut tristique et egestas quis ipsum. Sed risus ultricies tristique nulla aliquet enim tortor. Platea dictumst quisque sagittis purus sit amet volutpat. Orci a scelerisque purus semper eget duis at. Nullam vehicula ipsum a arcu cursus vitae congue mauris rhoncus. Pharetra magna ac placerat vestibulum lectus mauris ultrices eros. Tempus urna et pharetra pharetra massa massa ultricies mi quis.

            Adipiscing elit ut aliquam purus sit amet luctus venenatis. Vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor posuere. Aenean et tortor at risus viverra adipiscing. Fermentum leo vel orci porta non pulvinar neque laoreet suspendisse. Pharetra et ultrices neque ornare aenean euismod. In eu mi bibendum neque egestas congue quisque egestas. Lectus proin nibh nisl condimentum. Egestas erat imperdiet sed euismod nisi porta lorem. Erat velit scelerisque in dictum non consectetur. Elementum integer enim neque volutpat ac tincidunt. Eu nisl nunc mi ipsum. Justo donec enim diam vulputate ut pharetra. Pulvinar sapien et ligula ullamcorper malesuada. </p>
        <h1> Overskrift3 </h1>
        <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quisque sagittis purus sit amet volutpat consequat mauris nunc congue. Pharetra convallis posuere morbi leo urna. Sit amet aliquam id diam maecenas ultricies mi eget. Quis imperdiet massa tincidunt nunc pulvinar sapien et. Turpis egestas sed tempus urna et. Commodo elit at imperdiet dui accumsan. Felis bibendum ut tristique et egestas quis ipsum. Sed risus ultricies tristique nulla aliquet enim tortor. Platea dictumst quisque sagittis purus sit amet volutpat. Orci a scelerisque purus semper eget duis at. Nullam vehicula ipsum a arcu cursus vitae congue mauris rhoncus. Pharetra magna ac placerat vestibulum lectus mauris ultrices eros. Tempus urna et pharetra pharetra massa massa ultricies mi quis.

            Adipiscing elit ut aliquam purus sit amet luctus venenatis. Vulputate enim nulla aliquet porttitor lacus luctus accumsan tortor posuere. Aenean et tortor at risus viverra adipiscing. Fermentum leo vel orci porta non pulvinar neque laoreet suspendisse. Pharetra et ultrices neque ornare aenean euismod. In eu mi bibendum neque egestas congue quisque egestas. Lectus proin nibh nisl condimentum. Egestas erat imperdiet sed euismod nisi porta lorem. Erat velit scelerisque in dictum non consectetur. Elementum integer enim neque volutpat ac tincidunt. Eu nisl nunc mi ipsum. Justo donec enim diam vulputate ut pharetra. Pulvinar sapien et ligula ullamcorper malesuada. </p>

    </div>

    <footer class="footer-fade"></footer>
    <footer class="footer"></footer>

    </body>

</html>